@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap:100,200,300,400,500,600,700');

/*---------------------General (Credits: Influenced based on research & Code Institute)*/

html {
    max-width: 100%;
}

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    background: hsl(39, 92%, 44%);
}